.aligned_form {
        
        display: flex;
        flex-direction: row;
        align-items: center;
}
label {
    width: 50%; /* Customize as needed */
}

.sectionUL {
  list-style-type: none;
}
.sectionLI {
    padding: 5px;
}
.sectionAnchor {
    font-size: large;
    cursor: pointer;
    font-weight: 500;
}
  
.form-container {
  margin-left: 80px;
  margin-top: 10px;
  padding: 20px;
  width: 500px;
  background-color: #fafafa;
  border: #e9e3e3 solid 1px;
  border-radius: 8px;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  gap: 1rem; /* Spacing between form fields */
}

.form-field {
  width: 60%; /* Fill the available width */
  padding: 12px 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

.aSelected {
  color: #D22630;
  font-size: large;
  cursor: pointer;
  font-weight: 500;
}
